attrs==23.1.0
buildozer==1.5.0
cattrs==22.2.0
distlib==0.3.6
filelock==3.12.0
lsprotocol==2023.0.0a1
mypy==1.3.0
mypy-extensions==1.0.0
pexpect==4.8.0
platformdirs==3.5.1
ptyprocess==0.7.0
pygls==1.0.2
sh==2.0.4
typeguard==3.0.2
typing_extensions==4.6.2
virtualenv==20.23.0
